# Gradle
.gradle/
build/
out/

# Evita ignorar o Gradle Wrapper, o que é uma boa prática
!gradle/wrapper/gradle-wrapper.jar

# Arquivos de log de crash da JVM
hs_err_pid*
replay_pid*

# Eclipse
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.classpath
.factorypath
*.launch

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
/out/

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store

# Fabric
run/

# Arquivos de pacotes gerados (opcional, mas recomendado)
*.jar
*.war
*.ear
*.nar